.IncomeItemStyled {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    color: #222260;
    border-radius: 20px;
}

.IncomeItemStyled .icon{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
}

.IncomeItemStyled .icon i{
    font-size: 2rem;

}

.IncomeItemStyled .content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.IncomeItemStyled .content h5{
    font-size: 1.3rem;
    padding-left: 1.5rem;
    position: relative;
}
.IncomeItemStyled .content h5::before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: var(--indicator-color);
}

.IncomeStyled .content .inner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IncomeStyled .content .inner-content .text{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.IncomeStyled .content .inner-content .text p{
    display: flex;
    align-items: center;
    gap:0.5rem;
    color: var(--primary-color);
    opacity: 0.8;
}