.app {
    height: 100vh;
    position: relative;
    overflow: hidden; /* Ensure any overflowing content is hidden */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background div is behind other content */
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
    position: absolute;
    top: 0;
    left: 0;
}
.app main{
    flex: 1;
    background: rgba(252, 246 , 249, 0.78);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(4.5px);
    border-radius: 32px;
    overflow: auto;
    overflow-x: hidden;
}
main::-webkit-scrollbar {
    width: 0;
}